.App {
  text-align: center;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.amountButton {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: .375rem .75rem;
  font-family: -apple-system;
  text-decoration: none;
  width: 100px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.amountButtonLeft {
  padding-right: 5px !important;
}

.amountButtonRight {
  padding-left: 5px !important;
}

.amountButton:hover {
  color: #000 !important;
  background-color: #3bfca2;
}

.amountButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.amountClicked {
  color: #000 !important;
  background-color: #ffe484;
  border-color: #ffe484;
}

.amountDisplay {
  color: #000;
  background-color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: .375rem .75rem;
  font-family: -apple-system;
  text-decoration: none;
  width: 100px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.donateHeader {
  color: #ffe484;
  font-size: 30px;
}

.donateButtons {
  padding: 0px 60px;
  /* border: #00FF00 solid 1px; */
}

.dot {
  float: left;
  height: 15px !important;
  width: 15px !important;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.redDot {
  background-color: #f85520;
}

.greenDot {
  background-color: #00FF00;
}

.donationBubble {
  border-radius: 4em 4em / 4em 4em;
  background-color: #fff;
  width: 100%;
  color: #000;
  margin-top: 5px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  align-items: center;
}